html{
    font-family: 'Baloo Da 2', cursive;
}

body {
    background-color: #130f0d;
    color: #fdfdfd;
    margin-top:100px;
    
}

.boards {
    display: flex;
    justify-content:space-around;
   
}

.board {
    background: #141316;
    border: 1px solid #FD951F11;
    border-radius: 4px;
    margin: 0 5px;
    margin-top: 10vh;
}

.board h3 {
    padding:16px;
    margin:0;
    color: #FD951Fcc;
}

.dropzone {
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
}

.card {
    padding:16px;
    box-shadow: 0 1px 2px -1px #FD951Fcc;
    width:250px;
    margin:4vh 0;
    border-radius: 4px;
    font-weight: 600;
    font-size:18px;
    background-color:#1a1a1c ;
}

.status {
    width: 30px;
    height: 8px;
    background: grey;
    margin-bottom: 16px;
    border-radius: 8px;
}

.status.green{
    background: #23d2ac;
}

.status.blue{
    background: #33adff;
}

.status.red{
    background: #23d2ac;
}

.highlight{
    background-color: #FD951F08;
}

.card, .dropzone{
    transition: 400ms;
}

.isdragging{
    cursor:move;
    opacity: 0.3;
}

.over{
    background-color: #4cd13711;
}

/* 
    Input
*/
.inputElement{
    display: inline-block;
    box-sizing: border-box;
    width: 350px;
    transition: .5s;
    border-radius: 4px 0 0 4px;
    height: 35px;
    border:none;
    outline:none;
    font-size:18px;
    padding-left:12px;
    background: #1a1a1c;
    color:#fdfdfd;
    
}

#button-addon2{
    background:#FD951Fcc;
    border:none;
    outline:none;
    border-radius: 0  4px  4px 0;
    height: 35px;
    width: 100px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;

    
}

/* 
 */

 .inpuit{
    margin-left:100px;
}

.btn{
    width:20px;
    height: 20px;
    background-color: #d33636;
    outline: none;
    border-radius: 4px;
}

/*  
    Nav
*/

nav{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 150px;
    color:#FD951Fcc;
    
}